@import "bulma.css";

@font-face {
  font-family: hafs;
  font-display: swap;
  src: url("fonts/hafs/hafs.woff2") format("woff2"),
    url("fonts/hafs/hafs.woff") format("woff"),
    url("fonts/hafs/hafs.otf") format("opentype");
}

:root {
  --bulma-info-h: 207.12deg;
  --bulma-info-s: 60.83%;
  --bulma-info-l: 52.94%;
  --bulma-info-invert-l: 93%;
}

.panel-tabs a {
  color: inherit;
}

.panel-tabs a.is-active {
  --bulma-panel-tab-active-color: hsl(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l)) !important;
  border-bottom-color: var(--bulma-panel-tab-active-color);
}

.quran-text {
  font-family: hafs;
  font-size: 1.15em;
  direction: rtl;
  line-height: 2.32em;
}

mark {
  background-color: #d5f1d0;
}

[v-cloak] {
  display: none;
}
