@import "bulma/css/bulma.min.css";

@font-face {
  font-family: hafs;
  font-display: swap;
  src: url("./assets/fonts/hafs/hafs.woff2") format("woff2"),
    url("./assets/fonts/hafs/hafs.woff") format("woff"),
    url("./assets/fonts/hafs/hafs.otf") format("opentype");
}

:root {
  --bulma-info-h: 207.12deg;
  --bulma-info-s: 60.83%;
  --bulma-info-l: 52.94%;
  --bulma-info-invert-l: 100%;
}

.quran-text {
  font-family: hafs;
  line-height: 2.35em;
}

.quran-text mark {
  background-color: #c4ecbd;
}

.translation mark {
  background-color: #c4ecbd;
}
